@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  #printable-thermal-tag, #printable-thermal-tag * {
    visibility: visible;
  }
  #printable-thermal-tag {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    border: none !important;
  }
}